<%content_for :head do%>
         <style type="text/css">
           .side_box{
              background-color:white;
              height: 100%;
              position:absolute;
              position:fixed;
              left:0px;
              top:0px;
              z-index: 999;
              overflow:auto;
           }
           .my_alert{
              position:absolute;
              left:0px;
              top:0px;
              width: 100%;
           }
           body{
              background-image: url('/images/bg.jpg');
          }
          #sidebar  a{
            color: white;
          }
          #sidebar  a:hover{
            color: #000000;
          }
         </style>
         <script type="text/javascript">
           var img_page = 1;
           var main_img_page = 1;
            $(function(){
               $('#content').cleditor();
		$("#sidebar .nav-tabs li a").eq(1).css("color","#000000")
               $('#show_main_img_box').click(function(){
                  show_hide_main_img_side('show')
                  show_hide_img_side('hidden')
               })
                $('#show_img_box').click(function(){
                  show_hide_main_img_side('hidden')
                  show_hide_img_side('show')
               })
                $("#submit_news").click(function(){
                          var title = trim($('#title').val());
                          var author = trim($("#author").val());
                          var media_id = trim($("#media_id").val());
                          var digest = trim($("#digest").val());
                          var content = $('#content').val();
                          var shopid = $("#shopid option:selected").val();
                          if(check_form(title,author,media_id,digest,content,shopid)){
                              $.post("/page/new_media",{title:title,author:author,media_id:media_id,digest:digest,content:content,shopid:shopid,appid:'<%=@sangna_config[1]%>',is_cover:'0',url:'http://mijiclub.com'},function(obj){
                                    $("#my_alert").removeClass("hide")
                                    $($("#my_alert").children()[1]).html(obj)
                                    window.scroll(0,0)
                              })
                          }
                          else{
                              window.scroll(0,0)
                          }
                          
                })
                $("#img_file").change(function(e){
                    show_img(e,'content_img')
                })
                $("#main_img_file").change(function(e){
                    show_img(e,'main_img')
                })
                $("#submit_add_img").click(function(){
                    file = $("#img_file").prop("files")[0]
                    if (file.size/1024 < 2048){
                        upload_img(file,"/page/content_media",function(rs){
				result = JSON.parse(rs.responseText)
				if(result['errCode']=="0"){
					$($("#add_img_success_alert").children()[1]).html(result['errMsg'])
				}else{
			   		$("#add_img_url").html(result['wechat_url']);
                             		$("#img_side").children(':first').after('<div class="row lzh"><div class="col-lg-12" style="word-wrap:break-word"><img src="'+result['local_url']+'" class="img-thumbnail img-responsive"/><p class="text-justify">'+result['wechat_url']+'</p></div></div>')
				}
                            	$("#add_img_success_alert").removeClass("hide");
                         })
                    }else{
                        alert("请上传小于2M的图片")
                    }
                    
                })
                $("#submit_add_main_img").click(function(){
                    file = $("#main_img_file").prop("files")[0]
                    if (file.size/1024 < 2048){
                        upload_img(file,"/page/media",function(rs){
			      var result = JSON.parse(rs.responseText)
                              if(result['errCode']=="0"){
			      	$($("#add_main_img_success_alert").children()[1]).html(result['errMsg'])
			      }else{
				$("#main_img_preview").attr("src",result["url"])
                                $("#main_img_ok").removeClass('hidden')
                                $("#main_img_non").addClass("hidden")
    				$("#media_id").val(result['media_id'])
                                $("#main_img_side").children(':first').after('<div class="row lzh"><div class="col-lg-12"><img src="'+result['url']+'" class="img-thumbnail img-responsive" target="'+result['media_id']+'"/><button type="button" class="btn btn-default center-block" onclick="choose_main_img(this)">选择</button></div></div>')
			      }
                              $("#add_main_img_success_alert").removeClass("hide");
                        })
                    }else{
                        alert("请上传小于2M的图片")
                    }
                    
                })
            })
            function show_img(e,input){
                var file = e.target.files[0]
                if(input=="content_img"){
                    $("#add_img_preview").attr("src","")
                    $("#add_img_url").html("")
                }else{
                    $("#add_main_img_preview").attr("src","")
                }
                var img_size = file.size/1024
                if(file && img_size<2048){
                    var reader = new FileReader();
                    reader.onload=function(){
                        if(input=="content_img"){
                            $("#add_img_preview").attr("src",reader.result)
                        }else{
                          $("#add_main_img_preview").attr("src",reader.result)
                        }
                     }
                    reader.readAsDataURL(file);
                }else{
                    alert("请上传小于2M的图片");
                }
             }
             function upload_img(file,origin_url,callback){
                var form = new FormData();
                    form.append('file',file);  
                    form.append('appid','<%=@sangna_config[1]%>');  
                    var xhr = new XMLHttpRequest();
                    xhr.open("post",origin_url, true);
                    xhr.onload = function(){
                      callback(xhr);
                    }
                    xhr.send(form);
             }
            function check_form(title,author,media_id,digest,content,shopid){
                // alert(title);
                // alert(author);
                // alert(media_id);
                // alert(digest);
                // alert(content);
                // alert(shopid);
                result = true;
                if(title.length <= 0 || title.length>30){
                    
                    $("#title").parent().parent().addClass("has-error")
                    $("#title").after("<p class='text-danger'>请输入标题！并且标题小于三十个字</p>")
                    result= false;
                }
                if (author.length<=0 || author.length>10){
                  
                    $("#author").parent().parent().addClass("has-error")
                    $("#author").after("<p class='text-danger'>请输入作者！并且作者小于十个字</p>")
                    result= false;
                }
                if(media_id=='0'){
                    $("main_img_ok").addClass("hidden")
                    $("#main_img_non").removeClass("hidden")
                    result= false;
                }
                if(digest.length>50){
                  
                    $("#digest").parent().parent().addClass("has-error")
                    $("#digest").after("<p class='text-danger'>介绍必须少于五十个字</p>")
                    result= false;
                }
                if(content==''){
                    $("#content_alert").removeClass("hide")
                    result= false;
                }
                if(shopid==''){
                  
                    result= false;
                }
                return result;
            }

            function trim(str){
                return str.replace(/^\s+|\s+$/g, "");
            }
            function show_hide_img_side(type){
              if(type=='show'){
		              if($("#img_side img").size()==0){
		                 show_page_img(1)
		              }
                  $("#img_side").removeClass("hidden");
              }else{
                $("#img_side").addClass("hidden");
              }   
            }

            function show_hide_main_img_side(type){
                if(type=='show'){
                     if($("#main_img_side img").size()==0){
		                    show_page_main_img(1)
		                  }
		                  $("#main_img_side").removeClass("hidden");
                }else{
                  $("#main_img_side").addClass("hidden");
                }
            }

            function show_page_img(page){
              if(page==0){
                page = img_page + 1;
              }else if(page==-1){
                page = img_page - 1;
              }
              $.get("/page/content_media?page="+page+"&all=new_media&sangna_config_id=<%=@sangna_config[0]%>",function(obj){
                          $("#img_side .lzh").remove();
                          for(x in obj){
                            $("#img_side").children('ul').before('<div class="row lzh"><div class="col-lg-12" style="word-wrap:break-word"><img src="'+obj[x]['local_url']['url']+'" class="img-thumbnail img-responsive"/><p class="text-justify">'+obj[x]['wechat_url']+'</p></div></div>')
                           }
                           $("#img_pagination").children().removeClass("disabled")
                           $("#img_pagination").children().removeClass("active")
                           if(page==1){
                              $("#img_pagination").children().first().addClass("disabled")
                           }
                           if(page==<%=@page[1]%>){
                              $("#img_pagination").children().last().addClass("disabled")
                           }
                           $("#img_pagination").children().eq(page).addClass("active")
			                     img_page = page
              },'json')
            }
            function show_page_main_img(page){
              if(page==0){
                page = main_img_page + 1;
              }else if(page==-1){
                page = main_img_page - 1;
              }
              $.get("/page/media?page="+page+"&m_type=news_media&sangna_config_id=<%=@sangna_config[0]%>",function(obj){
                            $("#main_img_side .lzh").remove();
                            for(x in obj){
                                $("#main_img_side").children('ul').before('<div class="row lzh"><div class="col-lg-12"><img src="'+obj[x]['local_url']['url']+'" class="img-thumbnail img-responsive" target="'+obj[x]['media_id']+'"/><button type="button" class="btn btn-default center-block" onclick="choose_main_img(this)">选择</button></div></div>')
                             }
                             $("#main_img_pagination").children().removeClass("disabled")
                             $("#main_img_pagination").children().removeClass("active")
                             if(page==1){
                              $("#main_img_pagination").children().first().addClass("disabled")
                           }
                           if(page==<%=@page[0]%>){
                              $("#main_img_pagination").children().last().addClass("disabled")
                           }
                           $("#main_img_pagination").children().eq(page).addClass("active")
		           main_img_page = page;
               },'json')
            }
            function choose_main_img(obj){
                var img = $(obj).prev()
                $("#main_img_preview").attr("src",img.attr("src"))
                $("#main_img_ok").removeClass('hidden')
                $("#main_img_non").addClass("hidden")
                $("#media_id").val(img.attr("target"))
            }
         </script>
<%end%>

<%content_for :body do%>
<div class="col-sm-2 col-md-2 col-lg-10">
         <div class="well">
           <div class="panel">
            <ul class="nav nav-tabs">
              <li class=""><a href="/page/new_media?shopid=<%=params[:shopid]%>"><span class="glyphicon glyphicon-list-alt"></span>图文列表</a></li>
              <li class="active"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span>添加图文</a></li>
            </ul>
            </div>
            <div class="panel panel-info">
               <div class="panel-heading text-center">
                  <h5 class="panel-title">添加图文素材</h5>
               </div>
               <div class="panel-body">
                  <form class="form-horizontal" role="form" id="news_form">
                   <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                           <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题">
                        </div>
                   </div>
                  <div class="form-group">
                       <label for="author" class="col-sm-2 control-label">作者</label>
                     <div class="col-sm-10">
                         <input type="text" class="form-control" id="author" name="author" placeholder="请输入作者">
                   </div>
                  </div>
                  <div class="form-group">
                       <label for="digest" class="col-sm-2 control-label">介绍</label>
                     <div class="col-sm-10">
                         <input type="text" class="form-control" id="digest" name="digest" placeholder="请输入介绍">
                   </div>
                  </div>
                  <div class="form-group">
                       <label for="shopid" class="col-sm-2 col-md-2 col-lg-2 control-label">店名</label>
                       <div class="col-sm-10 col-md-10 col-lg-10">
                        <select class="form-control" name="shopid" id="shopid">
                        	<%@shop.each do |shop|%>
                        		<option value='<%=shop[0]%>'><%=shop[1]%></option>
                        	<%end%>
                        </select>
                        </div>
                  </div>
                  <div class="form-group">
                       <label for="media_id" class="col-sm-2 control-label">主图</label>
                       <input type="hidden" value='0' name="media_id" id="media_id"/>
                     <div class="col-sm-10">
                         <button type="button" class="btn btn-info" id="show_main_img_box">选择</button>
                         <span class="text-danger" id="main_img_non"><span class="glyphicon glyphicon-remove"></span>未选择</span>
                         <span class="text-success hidden" id="main_img_ok"><span class="glyphicon glyphicon-ok"></span>已选择</span>
                         <img src="" class="img-responsive" id="main_img_preview"/>
                   </div>
                  </div>
                  <div class="form-group">
                       <label for="lastname" class="col-sm-2 control-label">内容图片</label>
                     <div class="col-sm-10 btn-group">
                         <button type="button" class="btn btn-info" id="show_img_box">选择</button>
                         
                   </div>
                  </div>
                  <div class="form-group">
                     <label for="content" class="col-sm-2 control-label">内容</label>
                     <div class="col-sm-offset-2 col-sm-10">
                     <div class="alert alert-danger hide" id="content_alert">
                            <a href="#" class="close" data-dismiss="alert">
                          &times;
                            </a> 
                          <strong>内容不能为空</strong>
                     </div>
                     <textarea id='content' class="form-control" name='content'></textarea>
                                          </div>
                  </div>

                  <div class="form-group">
                     <div class="col-sm-offset-6 col-sm-6">
                        <button type="button" class="btn btn-primary" id="submit_news">提交</button>
                     </div>
                  </div>
               </form>
              </div>
           </div>
         </div>
      </div>
   </div>
</div>
<!--  侧边图文选择  -->

 <div class="col-lg-2 side_box hidden" id="img_side">
        <div class="row" style="margin-top: 10px">
            <div class="col-lg-10">
                  <h4 class="text-muted text-center">内容图片管理</h4>
            </div>
            <div class="col-lg-2">
                <span class="glyphicon glyphicon-remove" onclick="show_hide_img_side('hidden')"></span>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12" style="word-wrap:break-word">
                <img src="../image/meinv.png" class="img-thumbnail img-responsive"/>
                <p class="text-justify">wwwwasdasdasdasdasdsadnaskdnaskdnaskdnsakdasndkas</p>
            </div>
        </div> -->
        <ul class="pagination" id="img_pagination">
          <li class="disabled"><a href="javascript:void(0)" onclick="show_page_img(-1)">&laquo;</a></li>
          <li class="active"><a href="javascript:void(0)" onclick="show_page_img(1)">1</a></li>
          <%(@page[1]-1).times.each do |num|%>
              <li><a href="javascript:void(0)" onclick="show_page_img(<%=num+2%>)"><%=num+2%></a></li>
          <%end%>
          <li><a href="javascript:void(0)" onclick="show_page_img(0)">&raquo;</a></li>
        </ul>
         <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-default btn-block btn-lg center-block" data-toggle="modal" 
   data-target="#img_Modal">＋</button>
            </div>
        </div>
   </div>
<!--  侧边 主图选择  -->
 <div class="col-lg-2 hidden side_box" id="main_img_side">
        <div class="row" style="margin-top: 10px">
            <div class="col-lg-10">
                  <h4 class="text-muted text-center">主图管理</h4>
            </div>
            <div class="col-lg-2">
                <span class="glyphicon glyphicon-remove" onclick="show_hide_main_img_side('hidden')"></span>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <img src="../image/meinv.png" class="img-thumbnail img-responsive" target="5"/>
                <button type="button" class="btn btn-default center-block" onclick="choose_main_img(this)">选择</button>
            </div>
        </div>  -->
        <ul class="pagination" id="main_img_pagination">
          <li class="disabled"><a href="javascript:void(0)" onclick="show_page_main_img(-1)">&laquo;</a></li>
          <li class="active"><a href="javascript:void(0)" onclick="show_page_main_img(1)">1</a></li>
          <%(@page[0]-1).times.each do |num|%>
              <li><a href="javascript:void(0)" onclick="show_page_main_img(<%=num+2%>)"><%=num+2%></a></li>
          <%end%>
          <li><a href="javascript:void(0)" onclick="show_page_main_img(0)">&raquo;</a></li>
        </ul>
         <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-default btn-block btn-lg center-block" data-toggle="modal" 
   data-target="#main_img_Modal">＋</button>
            </div>
        </div>
   </div>
        <!-- 主图模态框（Modal） -->
<div class="modal fade" id="main_img_Modal" tabindex="-1">
 <div id="add_main_img_success_alert" class="alert alert-success hide">
         <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p class="text-center">上传成功！</p>
    </div>
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               添加主图
            </h4>
         </div>
         <div class="modal-body">
            <form class="form-horizontal">
                 <div class="form-group">
                    <div class="col-lg-4">
                      <input type="file" id="main_img_file" accept=".jpg,.png,.jpeg,.svg">
                    </div>
                    <div class="col-lg-8">
                        <img src="" class="img-thumbnail img-responsive" id="add_main_img_preview"/>
                    </div>
                 </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" id="submit_add_main_img">
               提交
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
        <!-- 内容图模态（Modal） -->
<div class="modal fade" id="img_Modal" tabindex="-2" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div id="add_img_success_alert" class="alert alert-success hide">
         <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p class="text-center">上传成功！</p>
    </div>
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               添加内容图片
            </h4>
         </div>
         <div class="modal-body">
            <form class="form-horizontal">
                 <div class="form-group">
                   <div class="row">
                    <div class="col-lg-4">
                      <input type="file" id="img_file" accept=".jpg,.png,.jpeg,.svg">
                    </div>
                    <div class="col-lg-8">
                        <img src="" class="img-thumbnail img-responsive" id="add_img_preview"/>
                    </div>
                    </div>
                    <h6 class="text-center text-success" id="add_img_url" style="word-wrap:break-word"></h6>
                 </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" id="submit_add_img">
               提交
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<%end%>
